# Rust / Actix
/target/
**/*.rs.bk
Cargo.lock
.env
/static/
*.db
data.db

# Node / Next.js
/front/node_modules/
/front/.next/
/front/out/
/front/build/
/front/.ds_store
*.log

# IDE
.vscode/
.idea/

# mdBook
book/

data.db-shm
data.db-wal
